@model AutoTest.Models.NewTestView

@{
    ViewBag.Title = "Create";

}

<h2>Create</h2>
@if (ViewBag.Msg != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Msg
    </div>
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Test</h4>
        @Html.HiddenFor(model => model.UserID)
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Summary Importance", "SummaryImportance", new { }, new { @class = "btn btn-light" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<h4>Summary Importance</h4>
<hr />
@if (Model.Details.Count == 0)
{
    <h5>No details added yet</h5>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Details[0].SubCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details[0].Value)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Details)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>

            </tr>
        }

        <tr>
            <td colspan="4" align="right">
                <strong>Result</strong>
            </td>
            <td align="right">
                <strong> @Html.DisplayFor(model => model.TotalSummaryImportance)</strong>
            </td>

            <th></th>
        </tr>

    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

