@model IEnumerable<AutoTest.Models.TestHeader>

@{
    ViewBag.Title = "Test";
}

<h2>My Test</h2>

<p>
    @Html.ActionLink("Evaluate", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.State.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.State.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TestHeaderID }, new { @class = "btn btn-warning" }) 
            @Html.ActionLink("Details", "Details", new { id=item.TestHeaderID }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.TestHeaderID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
