@model AutoTest.Models.SubCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessEntity.BusinessEntityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessEntity.BusinessEntityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubCategoryID }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
</p>
